<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.connect.reservation.dao.mapper.ReservationMapper">

    <select id="selectReservationInfo" resultType="ReservationInfo">
        SELECT reservation_info.id AS reservationInfoId,
               reservation_info.product_id AS productId,
               reservation_info.display_info_id AS displayInfoId,
               reservation_info.reservation_name AS reservationName,
               reservation_info.reservation_tel AS reservationTelephone,
               reservation_info.reservation_email AS reservationEmail,
               reservation_info.cancel_flag AS cancelYn,
               reservation_info.reservation_date AS reservationDate,
               reservation_info.create_date AS createDate,
               reservation_info.modify_date AS modifyDate
        FROM reservation_info
        WHERE reservation_info.reservation_email= #{reservationEmail}
    </select>

    <select id="selectReservationInfoById" resultType="ReservationInfo">
        SELECT reservation_info.id AS reservationInfoId,
               reservation_info.product_id AS productId,
               reservation_info.display_info_id AS displayInfoId,
               reservation_info.reservation_name AS reservationName,
               reservation_info.reservation_tel AS reservationTelephone,
               reservation_info.reservation_email AS reservationEmail,
               reservation_info.cancel_flag AS cancelYn,
               reservation_info.reservation_date AS reservationDate,
               reservation_info.create_date AS createDate,
               reservation_info.modify_date AS modifyDate
        FROM reservation_info
        WHERE reservation_info.id= #{reservationInfoId}
    </select>
    
    <select id="selectReservationPrice" resultType="ReservationPrice">
        SELECT reservation_info_price.count AS count,
               reservation_info_price.product_price_id AS productPriceId,
               reservation_info_price.reservation_info_id AS reservationInfoId,
               reservation_info_price.id AS reservationInfoPriceId,
               product_price.price AS price
        FROM reservation_info_price
        JOIN product_price ON product_price.id=reservation_info_price.product_price_id
        WHERE reservation_info_price.reservation_info_id= #{reservationInfoId}
    </select>

    <insert id="insertReservationInfoPrice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reservation_info_price (reservation_info_id, product_price_id, count)
        VALUES (#{reservationInfoId}, #{productPriceId}, #{count})
    </insert>

    <insert id="insertReservationInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reservation_info (product_id, display_info_id, reservation_name, reservation_tel, reservation_email, reservation_date, create_date, modify_date)
        VALUES (#{productId}, #{displayInfoId}, #{reservationName}, #{reservationTelephone}, #{reservationEmail}, #{reservationDate}, #{createDate}, #{modifyDate})
    </insert>

    <update id="updateCancelFlag">
        UPDATE reservation_info SET cancel_flag=true
        WHERE id= #{reservationInfoId}
    </update>

    <select id="selectLastInsertId" resultType="_int">
        SELECT LAST_INSERT_ID()
    </select>

</mapper>